.main-nav {
  padding-left: 40px;
  min-height: 70px;
}

.nav-logo-text {
  color: #00285f;
  padding-right: 90px;
  margin-left: 100px;
}

.nav-logo-text:hover {
  color: #fff;
}

.main-menu {
  display: flex;
  font-size: 18px;
  width: 180px;
  justify-content: space-between;
  margin-left: 740px;
}

.main-menu a {
  font-style: normal;
  color: rgba(13, 14, 71, 0.5);
}

.main-menu a.active {
  font-weight: bold;
  color: #00285f;
}

.main-menu a:hover {
  color: #00285f;
}

.nav-login-logout {
  display: none;
}

.nav-username {
  display: none;
}

@media (min-width: 768px) {
  .nav-login-logout {
    display: unset;
    color: #00285f;
    margin-right: 15px;
  }
}

@media (min-width: 992px) {
  .nav-login-logout {
    margin-right: 40px;
  }

  .nav-username {
    display: unset;
    margin-right: 20px;
  }
}
