.product-filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  width: 98%;
}

.product-filter-name-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 30px;
  width: 900px;
}

.product-filter-name-container input {
  border: none;
  width: 800px;
}

.product-filter-name-container input:focus {
  box-shadow: none;
}

.product-filter-name-container input::placeholder {
  color: #9e9e9e;
}

.product-filter-search-icon {
  border: none;
  border-radius: 5px;
  background-color: #00285f;
  color: #e1e1e1;
  padding: 8px 30px 4px 30px;
  align-items: center;
}

.product-filter-bottom-container {
  display: flex;
}

.product-filter-category-container {
  flex: 1;
  margin-right: 10px;
}

.btn-product-filter-clear {
  font-weight: bold;
  border-radius: 10px;
}

.btn-product-filter-word {
  display: none;
}

.product-filter-select__control {
  font-size: 1em;
  letter-spacing: -0.015em;
  color: #263238;
  border: none !important;
  border-bottom: 1px solid #e1e1e1 !important;
}

.product-filter-select__placeholder {
  color: #9e9e9e !important;
}

.product-filter-select__indicator-separator {
  display: none;
}

@media (min-width: 576px) {
  .btn-product-filter-word {
    display: unset;
  }
}

@media (min-width: 768px) {
  .btn-product-filter-word {
    display: none;
  }

  .product-filter-container {
    margin-left: 0;
    flex: 1;
    margin-bottom: 30;
    padding: 42px 98px 42px 40px;
  }

  .product-filter-form {
    display: flex;
  }

  .product-filter-name-container {
    flex: 1;
    margin-right: 0;
    margin-bottom: 0;
  }

  .product-filter-bottom-container {
    flex: 1;
  }
}

@media (min-width: 992px) {
  .btn-product-filter-word {
    display: unset;
  }
}
